.contakt-title{
    margin: 0 8px;
}
.contakt-company p {
    margin: 0;
}
.contakt-company {
    width: 240px;
    margin: 0px 8px;
}
.contakt-address, .contact_content {
    padding-bottom: 60px;
    padding-top: 60px;
}
#kontakt .gmap {
    width: 100%;
    margin: 0;
    border: none;
    position: relative;
    bottom: -7px;
    height: 400px;
}
.contact-content {
    display: flex;
    flex-wrap: wrap;
}
.contakt-company a {
    text-decoration: none;
    color: inherit;
}
.jss31 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
@media(min-width: 767px){
    .contakt-address {
        width: 40%;
        order: -1;
    }
    
    .contact_content {
        width: 60%;
    }
}
