.c_slider{
    width: 100%;
}
.k_img {
    width: 64px;
    height: 64px;
    flex: 0 0 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.k_img>img {
    margin: 0;
}
.k_element {
    display: flex;
    padding: 15px 0;
    position: relative;
    flex-grow: 1;
}
/*.k_element:after {content: "";display: block;width: 1px;height: 30px;background: #2b2b2b;position: absolute;top: 100%;left: 47px;}*/
.k_label {
    margin-top: auto;
    width: 100%;
}
.k_value {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
}
.k_desc {
    text-align: left;
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 18px;
}
.b_green {
    background: #48a73d2e;
}
.k_start_value {
    margin: 15px 0 25px;
    font-size: 20px;
}
.k_element:last-of-type:after {
    display: none;
}
.kalk_container form{
    max-width: 960px;
    margin: auto;
}
.kalk_container{
    background: rgba(255, 255, 255, 0.57);
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.k_steps {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
}
.kalk_container h2 {
    text-align: center;
    font-weight: 900;
    transition-duration: .4s;
    font-size: 24px;
    line-height: 28px;
    font-weight: 200;
}
body.kalk .kalk_container h2 {
    opacity: 1;
    height: 54px;
    transition-duration: .4s;
}
@media(min-width:760px){
    .k_element{
        width: 50%;
    }
    .kalk_container h2{
        font-size: 38px;
        line-height: 44px;
    }
    .k_img {
        width: 80px;
        height: 80px;
        flex: 0 0 80px;
    }
    
    .k_img>img {
        width: 44px;
    }
}