@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

html {
  font-family:'Roboto', sans-serif;;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em 'Roboto', sans-serif;;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.green_gradient{
  background: #4AB75E;
  background: linear-gradient(45deg,#4AB75E 20% , #18a98d 85%);
}
.b_grafit{
  background: #2b2b2b;
}
.text-grafit{
  color:#2b2b2b;
}
.text-green {
  color: #11B91B;
}
.text-gray {
  color: #B0B0B0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.logo img {
  margin: 0 10px;
}
.container {
  max-width: 1280px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.c_white{
  color: #fff;
}

.img_icon {
  text-align: center;
}
.w_100{
  width: 100%!important;
}

header{
  height: 65px;
}
.header h1, .header .logo-container {
  font-weight: 400;
  width: 100%;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding: 15px 0;
  height: 65px;
  margin: 0;
}
.h_banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.social img {
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.contact {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.img_position {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navbar-item{
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  z-index: 999;
  padding: 15px;
  box-shadow: 3px 0 8px #00000059;
  left: -100%;
  transition-duration: 0.4s;
  width: 80%;
  background: #2b2b2b;
  padding-top: 46px;
}
.nav_back{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: #2b2b2b6b;
  z-index: -1;
  transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.footer_content {
  padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #b0b0b08f;
}

.footer_content .logo span:last-of-type {
  width: 100%;
}

.footer_content .logo {
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}
.footer_content .logo span:last-of-type {
  width: 100%;
}

.footer_content .logo {
  flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
}

.footer_company p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  line-height: 27px;
  color: #b0b0b0;
}
.footer_nav a {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 27px;
  color: #b0b0b0;
}

.footer_nav .contact {
  color: #b0b0b0;
  font-size: 14px;
}
.footer_nav {
  display: flex;
  flex: 1;
  margin: 0;
  flex-wrap: wrap;
}

.footer_nav>div:first-of-type {
  margin-right: auto;
}
@media(max-width: 767px){
  body.menu-open {
    overflow: hidden;
  }
  
  nav.-open + .nav_back{
    transition-duration: 0.4s;
    opacity: 1;
    visibility: visible;
  }
  nav.-open {
    left: 0;
    transition-duration: 0.4s;
  }
}


nav .navbar-item {
  font-size: 18px;
  line-height: 28px;
  padding: 16px;
  margin: 0;
  text-align: center;
}
section#pros {
  color: #fff;
  padding-bottom: 120px;
}
section#pros {
  position: relative;
  z-index: 1;
}
.section-title {
  text-align: center;
  padding: 60px 0 80px;
}

.section-title h2 {
  font-weight: 200;
  font-size: 48px;
}

.pros-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
}

.pros-container li {
  margin: 20px;
  text-align: center;
  width: 250px;
}
footer {
  background: #2b2b2b;
  color: #fff;
}
header{
  background: #fff;
  position: fixed;
  z-index: 998;
}
header a, header h1 {
  color: #fff;
}

.navbar-burger.burger {
  position: absolute;
  left: 15px;
  top: calc((65px/2) - 12px);
  transform: rotate(180deg);
  height: 24px;
}
.has_img_bg {
  position: relative;
}

.img_background {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  left: 0;
  height: 0;
}

.img_background >img {
  height: 100%;
  width: auto;
  max-width: initial;
  object-fit: cover;
}
#faq .container{
  background: #e2e2e2a8;
}
.faq_content {
  padding-bottom: 120px;
}
.faq_content>div {
  width: 100%;
}
.navbar-burger.burger {
  position: fixed;
  z-index: 999;
  background: #2b2b2b;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  top: 14px;
  left: 15px;
  box-shadow: -3px -3px 6px #0000005c, 4px 1px 6px #6767673d;
}
.navbar-burger.burger img {
  filter: opacity(0.5);
}
.navbar-burger.burger:focus {
  outline: none;
}
.contact.mobile {
  font-size: 16px;
  line-height: 28px;
  padding: 25px;
  margin: 0;
  text-align: center;
  margin-top: 40px;
}

.social.mobile {
  font-size: 25px;
  line-height: 28px;
  padding: 25px;
  margin: 0;
  text-align: center;
}

.social.mobile img {
  width: 32px;
  height: 32px;
}
.h_banner{
  display: none;
}
.header {
  position: fixed;
  background: #2b2b2b;
  z-index: 998;
  box-shadow: 0px 3px 6px #2b2b2ba1;
  width: 100%;
}
.key_more {
  cursor: pointer;
  line-height: 29px;
  height: 29px;
  display: flex;
  margin-left: 10px;
}
.gatsby-image-wrapper{
  height: 100vh;
}
#contact{
  background: #fff;
}
.contact_content {
  padding: 0 0 120px;
  text-align: center;
}
.bottom_bar {
  font-size: 14px;
  color: #b0b0b0;
  padding-bottom: 8px;
}
.contact_icon{
  display: none;
}
.navbar-item .contact_content {
  display: inline;
  padding: 0;
}
.kalk_container .contact_content {
  padding: 50px 0 20px;
}
@media(min-width:760px){
  .footer_nav a, .footer_company p{
    font-size: 16px;
    line-height: 32px;
  }
  
  .logo{
    font-size: 24px;
  }
  .header{
    background: #fff;
  }
  .header .container{
    background: #fff;
    display: flex;
    width: 100%;
    align-items:center;
  }
  .mobile{
    display: none;
}
  .navbar-burger.burger{
    display: none;;
  }
  nav {
    visibility: visible;
    position: static;
    display: inline-block;
    padding: 0;
    box-shadow: none;
    width: auto;
    background: transparent;
    flex: 1;
    text-align: center;
}
nav a{
  color: #2b2b2b;
}
.contact, .contact a{
  color: #2b2b2b;
  text-decoration: none;
}
  .header h1,  .header .logo-container{
    font-size: 32px;
    text-align: left;
    width: auto;
  }
  .h_banner {
    display: flex;
    width: auto;
    justify-content: flex-end;
    padding: 10px 0;
    margin: 0;
  }
  .section-title {
    text-align: center;
    padding: 160px 0 180px;
  }
  .img_background img {
    height: auto;
    width: 100%;
    max-width: initial;
    object-fit: cover;
  }
  nav .navbar-item {
    font-size: 16px;
    padding: 0;
    margin: 0 0 0 10px;
}
  #faq .container{
    background: #e2e2e2a8;
    padding: 0 60px;
  }
  .faq_content>div {
    width: 85%;
    margin: auto;
  }
  section#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 135px 15px;
}

section#contact .section-title {
  text-align: left;
  padding: 0;
  width: 50%;
  margin-left: auto;
  padding-right: 25%;
}

section#contact .contact_content {
  padding: 0;
  width: 50%;
  margin-left: auto;
  text-align: left;
}

section#contact .container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
      "icon text"
      "icon form";
}

.contact_icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#contact .section-title {
  grid-area: text;
  width: 100%;
}

section#contact .contact_content {
  grid-area: form;
  width: 100%;
}

.contact_icon img {
  width: 200px;
  position: relative;
  background: #eaeaea;
  padding: 33px;
  border-radius: 15px;
  box-shadow: -2px -1px 7px #ffffffe0, 3px 3px 7px #c3c3c3a6;
}
#contact {
  background: #eaeaea;
}
.contact_icon img:after {/* content: ""; */position: absolute;width: 150px;height: 150px;background: #333;z-index: 1;display: block;top: 0;left: 0;}
}