.steps_item {
    position: relative;
    padding: 0px 25px 25px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.steps_content>div {
    display: block;
}

.number {
    position: absolute;
    font-size: 164px;
    font-weight: 900;
    left: 0;
    top: 0;
    color: #4ab75e4d;;
    z-index: 0;
    line-height: 164px;
}

.steps_item_title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 900;
    position: relative;
    height: 138px;
    display: flex;
    align-items: flex-end;
    padding-left: 95px;
}

section#steps {
    background-blend-mode: difference;
    background: #fff;
    padding-bottom: 80px;
}
section#steps .container {
    max-width: 960px;
}
.steps_item.btn {
    justify-content: center;
}

.steps_item.btn a {
    color: inherit;
    text-decoration: none;
}
@media(min-width: 760px){
    .steps_content>div{
        display: flex;
        flex-wrap: wrap;
    }
    .steps_item {
        width: 50%;
    }
    
    .steps_item.btn {
        width: 100%;
        margin: 60px 0;
    }
}

.prad .steps_item_title {
    display: block;
    font-size: 24px;
    line-height: 32px;
    min-height: 138px;
    font-weight: normal;
    height: unset;
    padding: 25px 0 0 0;
    margin-bottom: 32px;
}

.prad .number {
    vertical-align: top;
    line-height: 98px;
    top: 25px;
    left: 25px;
    font-size: 124px;
    display: flex;
    position: static;
    align-items: flex-start;
}

#pompy-about .container {}

.steps_content.prad {
    display: flex;
    flex-wrap: wrap;
}

.steps_item.green_gradient .number {
    color: #fff;
}

.prad .steps_item {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.steps_item.green_gradient .steps_item_title {
    color: #fff;
    line-height: 44px;
    font-size: 32px;
    text-align: left;
    display: flex;
    align-items: center;
}
.steps_item_title a {
    display: block;
    text-decoration: underline;
    color: #11B91B;
}
.outside .steps_item_title {
    padding: 0px;
    min-height: auto;
}

.steps_item.outside {
    min-height: 188px;
    align-items: center;
}
.section-title{
    text-align: left!important;
}
.section-title h1 {
    font-size: 53px;
    font-weight: 200;
}
.section-title p {
    text-align: left;
}
@media(min-width: 760px){
    .outside .steps_item_title {
        padding: 0px;
        min-height: auto;
    }
    .section-title h1 {
        font-size: 64px;
    }
    #moj-prad .container{
        max-width: 800px;
    }
    .section-title{
        text-align: center!important;
    }
    .section-title p {
        text-align: center;
    }
}